.first-section{ 
 background-repeat: no-repeat;
 background-image: url(images/donation1.jpg); 
 background-size: 100%;            
  padding-bottom:400px;
  padding-top: 150px;
text-align: center;
color: beige;
font-size: 20px;

}
.first-section h1{
  font-size: 50px;
}

.donate-btn{
  padding: 10px 40px;
  color: blanchedalmond;
 background-color: crimson;
 border-radius: 10px;

}
.donate-div{
                  height:50vh;
                  width: 100%;
                  margin-top: 50px;
                  padding-top: 50px;
                  font-size: 20px;
                  text-align: center;
}
.donate-div h1{
  font-size: 50px;
}
.amount-section{
                  text-align: center;
                  font-size: 30px;
                  height: 20vh;
}
.amount-tk{
                  border-radius: 10px;
                  padding: 30px;
                  margin: 20px;
                  background-color: rgb(241, 237, 237);
}
#single-amount{ 
                  border: 3px solid red;
                  border-radius:10px ;
                  padding: 30px;
                  background-color: pink;

}
.other-amount{
                  height: 20vh;
                  width: 100%;
                  text-align: center;
                  
}
.donate-plan{
  margin: 30px;
  height: 30vh;
  width: 100%;
  text-align: center;
  font-size: 30px;
}
.card-one{
 
  height: 40vh;
  width: 30%;
  border-radius: 10px;
  text-align: justify;
  background-color: rgb(235, 228, 230);
  padding: 50px 40px 20px 20px;
  margin-left: 20px;
  border: 3px solid wheat;
}
.container-div{
  display: flex;
}